/* Start Variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
}
/* End Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
    min-height: 90px;
}
ul {
    list-style: none;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Mediam */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
header {
    background-color: #20202a;
    width: 100%;
    z-index: 2;
    max-height: 90px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::after {
    content: "";
    position: absolute;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    height: 2px;
    bottom: 0;
}
header .container .logo img {
    width: 100px;
}
header .container nav {
    display: flex;
    justify-content: flex-end;
}
header .container nav ul {
    display: flex;
    justify-content: space-between;
}
header ul li a {
    text-decoration: none;
    padding: 10px;
}
header .form {
    padding-left: 30px;
    border-left: solid white 2px;
}
header .form i {
    color: white;
    font-size: 15px;
}
header .container nav ul li a {
    text-transform: capitalize;
    color: white;
    font-size: 14px;
}
header .container nav ul li a:hover,
header .container nav ul li a.active {
    color: var(--main-color);
    padding-bottom: 32px;
    border-bottom: 2px solid var(--main-color);
    z-index: 1;
}